<% include header %>
<div class="body">
    <div class="row-fluid">
        <div class="well">
            <h2><%= i18n.allClusters %></h2>
            <ul>
                <% pages.forEach(function(page){ %>
                <li><h3><a href="/wiki/<%= page.path %>"><%= page.name %></a></h3></li>
                <% }) %>
            </ul>
        <%- text %>
        </div>
    </div>
</div>
<div class="well">
<button class="add-new-section btn btn-mini"><%= i18n.newCluster %></button>
<button class="say-to-all btn btn-mini"><%= i18n.sendToAll %></button>
<a href="/terminal" class="btn btn-mini" ><%= i18n.Terminal %></a>
</div>
<% include footer %>
