<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Miniwiki</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png"> -->

    <!-- Include the compiled Ratchet CSS -->
    <link rel="stylesheet" href="/static/css/ratchet.css">
    <link rel="stylesheet" href="/static/css/ios  e.css">

    <!-- Include the compiled Ratchet JS -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/ratchet.js"></script>

    <script type="text/javascript">
      $(function () {
        $('a').click(function () {
          document.location.href = $(this).attr('href');
        })
      })
    </script>

  </head>
  <body>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar-title">
    <% if (page.breadCrumbs.length > 1 ) { %>
      <a class="button-prev" href="/wiki<%= page.breadCrumbs[page.breadCrumbs.length-2].url %>">
        Вверх
      </a>
    <% } else { %>
    <a class="button-prev" href="/wiki">
        На главную
      </a>
    <% }  %>
  <h5 class="title"><%= page.header %></h5>

  </header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div class="content-padded">
        <div class="wiki-article-text">
            <%- page.text %>
        </div>

        <% if (page.children.length > 0) { %>
                <div class ="wiki-children">
                    <h1><%= i18n.subPages %></h1>
                    <ul class="list">
                    <% page.children.forEach(function(child) { %>
                        <li>
                          <a href="/wiki/<%= page.currentUrl %><%= child %>"><%= child %></a><br>
                          <span class="chevron"></span>
                        </li>
                    <% }); %>

                    </ul>
                </div>
            <% } %>
    </div>
  </div>

  </body>
</html>